body{
  background:#0d1117;
  color:#e5e7eb;
  font-family:system-ui;
  padding:20px;
}

h1{
  text-align:center;
}

.controls{
  text-align:center;
  margin-bottom:15px;
}

button{
  padding:8px 12px;
  margin:5px;
  background:#2563eb;
  border:none;
  border-radius:5px;
  color:white;
  cursor:pointer;
}

table{
  width:100%;
  border-collapse:collapse;
}

th,td{
  border:1px solid #374151;
  padding:8px;
  text-align:center;
}

input{
  width:100%;
  background:#111827;
  color:white;
  border:none;
  padding:6px;
}

.buy{background:#064e3b;}
.sell{background:#7f1d1d;}
.wait{background:#1f2933;}
