body{
  background:#0b0f1a;
  color:#fff;
  font-family:system-ui;
}

table{
  border-collapse:collapse;
  margin-top:10px;
}

th,td{
  border:1px solid #334155;
  padding:6px 8px;
  text-align:center;
}

input{
  width:90px;
  background:#020617;
  color:#fff;
  border:1px solid #334155;
}

button{
  background:#2563eb;
  color:#fff;
  border:none;
  padding:6px 10px;
  border-radius:6px;
}

.buy{background:#064e3b;}
.sell{background:#7f1d1d;}
.wait{background:#111827;}

.spike   { background:#1e3a8a; }
.rocket  { background:#7c2d12; color:#fff; }
